.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: snow;
  background-color: #000022;
}

.box {
  position: absolute;
  height: 2px;
  width: 2px;
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 150px;
  width: 200px;
  left: 50%;
  top: 50%;
  background-color: slateblue;
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 150px;
  width: 200px;
  left: 40%;
  top: 45%;
  background-color: palevioletred;
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 150px;
  width: 200px;
  left: 45%;
  top: 30%;
  background-color: moccasin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}